@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "Arsis";
  src: url("/static/fonts/Arsis.ttf");
}

@layer base {
  body {
    @apply bg-[#d6d4c0] overflow-x-hidden font-serif;
  }
  .superflex {
    @apply flex justify-center items-center;
  }
  .tr-100 {
    @apply transition-all duration-100;
  }
  .tr-300 {
    @apply transition-all duration-300;
  }
  .tr-500 {
    @apply transition-all duration-500;
  }
  .tr-700 {
    @apply transition-all duration-700;
  }
  .absolute-center {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }
  .absolute-bottom {
    @apply absolute left-1/2 transform -translate-x-1/2;
  }
  .test {
    @apply border-2 border-green-700;
  }
}

/* styles.css */

.gradient-black {
  /* Adjust the height as needed */
  background: linear-gradient(
    to bottom,
    rgba(181, 178, 152, 1),
    rgba(181, 178, 152, 0)
  );
}

.newspaper {
  background-image: url("../../public/assets/pages/whitepaper.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.voyageroad {
  background-image: url("../../public/assets/pages/roadmap.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.nft {
  background-image: url("../../public/assets/pages/nft.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.testnet {
  background-image: url("../../public/assets/pages/testnet.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

/* .noScroll {
  overflow: hidden;
} */
